<html>
<head>
    <title>Subset of data</title>
    <style>
        table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #cddc39;
}
    </style>    
</head>
<body>
<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>